
.game-board{
    display: flex;
    justify-content: center;
}

.full-chess-board div {
    display: flex;
    height: 60px;
}

.full-chess-board div div {
    width: 60px;
    align-items: center;
    justify-content: center;
    
}

.full-chess-board > div > div:hover {
    filter: brightness(85%); 
}



#row-8 > :is(.a,.c,.e,.g),#row-6 > :is(.a,.c,.e,.g),#row-4 > :is(.a,.c,.e,.g), #row-2 > :is(.a,.c,.e,.g) {
    background: burlywood;
}

#row-8 > :is(.b,.d,.f,.h),#row-6 > :is(.b,.d,.f,.h),#row-4 > :is(.b,.d,.f,.h), #row-2 > :is(.b,.d,.f,.h) {
    background-color: gray;
}

#row-7 > :is(.b,.d,.f,.h), #row-5 > :is(.b,.d,.f,.h), #row-3 > :is(.b,.d,.f,.h), #row-1 > :is(.b,.d,.f,.h){
    background-color: rgb(222, 184, 135);
}

#row-7 > :is(.a,.c,.e,.g),#row-5 > :is(.a,.c,.e,.g),#row-3 > :is(.a,.c,.e,.g), #row-1 > :is(.a,.c,.e,.g) {
    background-color: gray;
}

.white {
    font-size: 30px;
    font-weight: 500;
    color: var(--bs-light);
}
